# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual Environment
# Ganti 'venv' dengan nama folder virtual environment Anda jika berbeda
venv/
.venv/
env/
.env/

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File yang Dihasilkan Otomat
snapshots/
*.log
*.html
# File di bawah ini adalah file yang dihasilkan secara otomatis dan tidak perlu dilacak
yolov5/runs/

# File Sensitif (jika ada)
# Jangan unggah kunci API atau kredensial
credentials.json
api_keys.txt
*.env

# Lain-lain
.DS_Store
Thumbs.db

# File simulasi
dashboard.html
navigation_simulation.py

# Model Weights
*.pt
*.weights